/*
    Base.css

    Defines the overall structure of the page
        header
        main
        footer

    Author: Michael Botelho
    Student ID: 251177938

*/


body {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-between; 
    align-items: center;
    padding: 0 10% 10% 10%;
    font-weight: normal;
    font-family: var(--body-font-family);
    font-weight: normal;
    background-color: var(--background-color);
    color: var(--text-color);
}

header {
    background-color: var(--background-color);
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 9999; /* Always on top */
}

nav {
    font-family: var(--header-font-family);
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: .5em 0 .5em 0;
}   

a {
    text-decoration: none;
    color: inherit;
}

button {
    color: var(--text-color-);
    font-family: var(--body-font-family);
    cursor: pointer;
}

footer {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
    height: auto;
    min-height: 400px;
    margin-top: 5em;
}

/* Social links */
/* Need to fix issue social-links shifting down */
#socials-container {
    display: flex;
    flex-flow: column wrap;
    align-items: stretch;
    justify-content: space-between;
    min-width: 385px;
    min-height: 250px;
}
.social-links {
    font-family: var(--body-font-family);
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
    height: 35px;
}

/* Appearing effect if social icon or link is hovered */
.social-link-text {
    opacity: 0;
    transition: opacity 0.3s ease;
}
.social-link-text:hover {
    opacity: .70;
}
.icons:hover + .social-link-text{
    opacity: 1;
}

.icons {
    margin-right: 15px;
}
#line {
    height: 20%;
    width: 5px;
    background-color: var(--text-color);
    border-radius: 99px;
    margin: 0 12px;
}


/* Animation styling */
/* Generic link hover effect */
a:hover {
    opacity: 0.70;
}
button:hover {
    opacity: 0.70;
}

/* These fields are to animate in sections of the page */
/* Add this class to any element to animate it */
.appear-on-load {
    opacity: 0;
}
.appear-on-load.appear {
    opacity: 1;
    transition: opacity 1s ease;
}


/* Vertical and Mobile size screens */
@media (max-width: 1000px) {
    body {
        padding: 0;
        padding-bottom: 20%;
        min-width: none;
    }    
    .links {
        font-size: small;
    }
    
}

/* Media query to stack footer items */
@media (max-width: 1440px) {

}

/* Ultrawide size screens
@media (min-width: 2560px) {
    body {
        /* Needs work 
        max-width: 1440px;
        background-color: aliceblue;
    }
}
*/