main {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    height: 100%;
}

#about-and-resume {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

#title {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
#name-title h1 {
    font-size: xx-large;
}
#hline {
    position: relative;
    height: 5px;
    width: 55%;
    background-color: var(--text-color);
    border-radius: 100px;
}

#about-me {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.text {
    max-height: 6.5em;
    overflow: hidden; 
    --mask-fade-down: linear-gradient(to bottom, 
        rgba(0,0,0, 1) 0,   rgba(0,0,0, 1) 40%, 
        rgba(0,0,0, 0) 100%, rgba(0,0,0, 0) 0
    ) 100% 50% / 100% 100% repeat-x;
    mask: var(--mask-fade-down); 
    /* transition: max-height 0.5s ease; transition not working */
}
.text.expanded {
    max-height: 100%;
    mask: none;
}
.show-more-btn {
    position: sticky;
    border: transparent;
    bottom: 30px;
    background-color: var(--background-color);
    margin-top: .5em;
}


.projects-shelf {
    border-radius: 1em;
    display: grid;
    gap: 4em;
    grid-auto-flow: column;
    grid-auto-columns: 36%;
    
    padding: 2em;
    overflow-x: auto;
    overscroll-behavior-inline: contain;

    margin: 40em 0 40em 0;
    --mask-radial: radial-gradient(circle, rgba(0,0,0,1) 50%, rgba(0,0,0,0) 150%);
    mask: var(--mask-radial); 

}
.project-element {
    display: grid;
    gap: .5em;
    padding: .5em;
    border-radius: .5em;
    box-shadow: 0 2em 2em .2em  rgba(0,0,0, .3);
    background-color: rgba(255,255,255,.6);
    cursor: pointer;
}
.project-element > img {
    border-radius: .5em;
    inline-size: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}
.project-title {
    margin: 0;
    padding: 0;
}
.snaps-inline {
    scroll-snap-type: inline mandatory;

}
.snaps-inline > * {
    scroll-snap-align: center;
}
::-webkit-scrollbar-thumb:hover {
    background-color: red;
}
/*
.projects-shelf {
    padding: 1em;
    margin: 2em 0 2em 0;
    min-width: auto;
    max-width: 80vw;
    height: 20em;
    border-radius: 1em;
    border-bottom: 10px solid black;
    border-bottom: outset;
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    overflow-x: auto;

    --mask-radial: radial-gradient(circle, rgba(0,0,0,1) 50%, rgba(0,0,0,0) 150%);
    mask: var(--mask-radial); 
}
.project-element {
    background-color: coral;
    border-radius: 1em;
    min-width: 350px;
    width: 30%;
    height: 75%;
    padding: .5em;
    margin: 0 3em 0 3em;
}
.cycle-projects-left .cycle-projects-right {
    z-index: 9998;
}
*/



/* Specific media query for phones so the show less button is apparent above text */ 
@media (max-width: 480px) {
    .show-more-btn {
        font-size: medium;
    }
    .show-more-btn.expanded {
        border-radius: 1em;
        background-color: #444444;
        color: white;
        font-size: medium;
    }
}
/* Media query for smaller devices */
@media (max-width: 1000px) {
    main {
        align-items: center;
    }
    #name-title {
        text-align: center;
    }
    #hline {
        width: 0;
    }
    #title {
        justify-content: center;
    }

    #about-and-resume {
        justify-content: center;
    }
    #about-me {
        width: auto;
    }
    .text {
        max-height: 7.5em;
    }
    #resume {
        margin: 1em;
    }

}

/* Media query to remove horizontal line */
@media (max-width: 1440px) {
}