main {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    height: 100%;
}

#about-and-resume {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 5em;
}

#title {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

#name-title h1 {
    font-size: xx-large;
}

#hline {
    position: relative;
    height: 5px;
    width: 55%;
    background-color: var(--text-color);
    border-radius: 100px;
}

#about-me {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    line-height: 1.5em;
}

.text {
    max-height: 6.5em;
    overflow: hidden;
    --mask-fade-down: linear-gradient(to bottom,
            rgba(0, 0, 0, 1) 0, rgba(0, 0, 0, 1) 40%,
            rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 0) 100% 50% / 100% 100% repeat-x;
    mask: var(--mask-fade-down);
    /* transition: max-height 0.5s ease; transition not working */
}

.text.expanded {
    max-height: 100%;
    mask: none;
}

.show-more-btn {
    position: sticky;
    border: transparent;
    bottom: 30px;
    background-color: var(--background-color);
    color: var(--text-color);
    margin-top: .5em;
}


.projects-shelf {
    border-radius: 1em;
    display: grid;
    gap: 4em;
    grid-auto-flow: column;
    grid-auto-columns: 42%;

    padding: 2em;
    overflow-x: auto;
    overscroll-behavior-inline: contain;

    margin: 2em 0 5em 0;
    --mask-radial: radial-gradient(circle, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0) 150%);
    mask: var(--mask-radial);

}

.project-element {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1em;
    border-radius: .5em;
    height: 15em;
    box-shadow: 0 2em 2em .2em rgba(0, 0, 0, .3);
    background-color: rgba(255, 255, 255, .5);
    cursor: pointer;
}

/* Unused styling. Uncomment when you want to add a picture to your project card
.project-element > img {
    border-radius: .5em;
    inline-size: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}
*/
.project-title {
    margin: 1em 1em -10em 1em;
    padding: 1em 0em 0em 1em;
    inline-size: 80%;
}

.project-notes {
    font-size: small;
    border-radius: .5em;
}

.snaps-inline {
    scroll-snap-type: inline mandatory;

}

.snaps-inline>* {
    scroll-snap-align: center;
}




/* Specific media query for phones so the show less button is apparent above text */
@media (max-width: 767px) {
    .show-more-btn {
        font-size: medium;
    }

    .show-more-btn.expanded {
        border-radius: 1em;
        background-color: #444444;
        color: white;
        font-size: medium;
    }

    .projects-shelf {
        display: none;
        gap: 2em;
        grid-auto-columns: 90%;
        /* margin-bottom: 25em; Minimum margin before project-elements get expanded. Unknown relation */
    }

    #projects-header {
        display: none;
    }

}

/* Media query for smaller devices */
@media (max-width: 1000px) {
    main {
        align-items: center;
    }

    #name-title {
        text-align: center;
    }

    #hline {
        width: 0;
    }

    #title {
        justify-content: center;
    }

    #about-and-resume {
        justify-content: center;
    }

    #about-me {
        width: auto;
    }

    .text {
        max-height: 7.5em;
    }

    #resume {
        margin: 1em;
    }

    .projects-shelf {
        gap: 2em;
        grid-auto-columns: 50%;
    }

}

/* Media query to remove horizontal line */
@media (max-width: 1440px) {}