/*
    project.css

    Contains styling that applies specifically to each Projects page 

*/

main {
    display: flex;
    
    justify-content: center;
    align-items: center;
}

/* Project section */
#project-section>#title {
    font-size: xx-large;
}

#title {
    text-align: center;
}

/* Preview project section */
#preview-container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#video {
    padding-top: .5em;
    max-width: 85%;
    height: auto;
}

/* Project description section */
#description-container {
    text-align: left;
    padding-bottom: 2em;
}
#notes {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 0 10% 0 10%;
    padding: 1.5em 0 1.5em 0;
}
#tech-stack {
    flex: 1;
}
#key-features {
    flex: 1;
}


/* Small size screens */
@media (max-width: 1000px) {

    /* Resize video to fit across small screens */
    #video {
        max-width: 100%;
        height: auto;
    }
    #notes {
        margin: 0em;
        flex-direction: column;
    }
}

/* Media query to stack footer items */
@media (max-width: 1440px) {

}

/* Ultrawide size screens 
@media (min-width: 2560px) {
    /* Resize video to fit across small screens 
    #video {
        max-width: 100%;
        height: auto;
    }
}
*/
