/*
    project.css

    Contains styling that applies specifically to each Projects page 

*/


/* Project section */
#project-section>#title {
    font-size: xx-large;
}

#title {
    text-align: center;
}

/* Preview project section */
#preview-container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 40px;
    width: 100%;
}

#video {
    padding-top: 5px;
    max-width: 85%;
    height: auto;
}

/* Project description section */
#description-container {
    text-align: left;
    padding-bottom: 40px;
}


/* Small size screens */
@media (max-width: 1000px) {

    /* Resize video to fit across small screens */
    #video {
        max-width: 100%;
        height: auto;
    }
}

/* Media query to stack footer items */
@media (max-width: 1440px) {

}

/* Ultrawide size screens 
@media (min-width: 2560px) {
    /* Resize video to fit across small screens 
    #video {
        max-width: 100%;
        height: auto;
    }
}
*/
