/*
    theme.css 

    Specifies the fonts and colors of the website.

    Author: Michael Botelho
    Student ID: 251177938
*/
@import url('https://fonts.googleapis.com/css?family=JetBrains Mono|Oxanium|Jura');


/* Color palette */
:root {
    /* Background color */
    --black-olive: hsl(9, 8%, 30%);
    /* Foreground item color */
    --lion-brown: hsl(33, 29%, 80%);

    /* Potential accent colors for future elements */
    --spring-green: hsl(134, 33%, 35%);
    --superior-blue: hsl(204, 39%, 60%);
}

/* Font configurations */
:root {
    --header-font-family: 'Oxanium', sans-serif;
    --body-font-family: 'JetBrains Mono', serif;
    --special-font-family: 'Jura', sans-serif;
}


