/*
    theme.css 

    Specifies the fonts and colors of the website.

    Author: Michael Botelho
    Student ID: 251177938
*/
@import url('https://fonts.googleapis.com/css?family=JetBrains Mono|Oxanium|Jura');


/* Color palette */
:root {
    --background-color: #EBE8DF;
    --text-color: #002A32;
}

/* Font configurations */
:root {
    --header-font-family: 'Oxanium', sans-serif;
    --body-font-family: 'JetBrains Mono', serif;
    --special-font-family: 'Jura', sans-serif;
}


